$typl8-scale: (
typl8-tera: 117,
typl8-giga: 90,
typl8-mega: 72,
typl8-alpha: 60,
typl8-beta: 48,
typl8-gamma: 26,
typl8-delta: 21,
typl8-epsilon: 18,
typl8-zeta: 14,
) !default;

@import "bootstrap";
@import "typeplate/styles";

$yellow:#f7f136;
$light-yellow:#fcf9e4;
#main_content{
  background-size:auto;
  position: relative;
  background-image: url('../images/FirstStop_Main.png');
  height:100%;
}
#secondary_content{
  overflow-y:hidden;
  height:30%;
  border-top:3px solid $yellow;
  background:black;
  padding:5% 15%;
  #email{
    @extend .col-md-6;
    width:50%;
    margin:auto;
    input{
      background:$light-yellow;
    }
    .btn-blue{
      i{
        padding-right: 5px;
      }
      background: #26a5cf;
      color:white;
    }
  }
  #phone{
    @extend .col-md-6;
  }
}
#logo{
  @extend .img-responsive;
  @extend .col-md-1;
  height:150px;
  width:200px;
  position:absolute;
  top:10%;
  right:10%;
}
#carousel-bar{
  /* z-index:-1; */
  height:20%;
  @extend .col-md-12;
  position:absolute;
  background:black;
  opacity:0.7;
  bottom:0;
}
#carousel{
  color:white !important;
  h3{
    color:white !important;
  }

  height:20%;
  @extend .col-md-12;
  position:absolute;
  bottom:0;
}
.carousel-control{
  background:transparent !important;
}
.carousel-indicators{
  opacity:0.7;
  position:absolute;
  bottom:0;
  margin-bottom:-2em;
  li{
    border-color: $yellow !important;
  }
  li.active{
    background: $yellow !important;
  }

}

.centered{
  width:100%;
  text-align: center;
}
